/* Zerowanie elementów HTML */
html, * {
	font-family: 'Kanit', sans-serif;
	font-weight: 300;	/* 300,400,500 */
}

body {
	font-size: 2em;
	line-height: 1.25em;
	min-height: 100vh;
	position: relative;
}
/* Zaznaczenie elementów */
*::selection {color: rgb(141, 198, 63);background: rgba(141, 198, 63, 0.1);}
*::-moz-selection {color: rgb(141, 198, 63);background: rgba(141, 198, 63, 0.1);}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}


/* WSPÓLNE */
[class*="-text-cont"] {
	background-color: #f6f6f6;
	border-color: #f6f6f6;
}
label, input[type="checkbox"] {
	display: inline-block;
}
form > * {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
form {
	margin-left: auto;
	margin-right: auto;
}
input, textarea {
	border-bottom: 5px solid;
	border-color: inherit;
	background-color: #fcfcfc;
	display: block;
	padding: 5px 15px;
	max-width: 50%;
}
#attachment, #accept {
	display: none;
}
label {
	border-bottom: 5px solid;
	border-color: inherit;
	background-color: #fcfcfc;
	cursor: pointer;
	display: block;
	min-height: 40px;
	padding: 5px 15px;
}
label[for=attachment] > i {
	margin-left: 0;
}
input.btn {
	border: 0;
}
input:focus, textarea:focus, label:focus {
	background-color: #fefefe;
}
.full-width-image-cont {
	height: 50vh;
}
.subpage-header {
	background-color: #95c12b;
	color: #fff;
	font-size: 1.25em;
	line-height: 1.35em;
}
/* Centers text in div */
.text-center, .txt-c {text-align: center;}
.txt-j {text-align: justify;}
.txt-r {text-align: right;}

/* Inputs placeholder style */
::placeholder {color: #ad8;}
:-ms-input-placeholder {color: #ad8;}
::-ms-input-placeholder {color: #ad8;}
::-webkit-input-placeholder {color: #ad8;}
label {color: #ad8;}

input[type="checkbox"]:checked + label > div[class="uncheck"] {
	display: none;
	margin-left: 0;
	width: 9%
}
input[type="checkbox"]:checked + label > div[class="check"] {
	display: initial;
	margin-left: 1.5px;
	width: 9%;
	color: black;
}
input[type="checkbox"]:checked + label > p{
	color: black;
}

input[type="checkbox"] + label > div[class="check"] {
	display: none;
	width: 9%
}
input[type="checkbox"] + label > div[class="uncheck"] {
	display: initial;
	margin: left;
	width: 9%
}
input:read-only {
	background-color: #f4f4f4;
	color: #aaa;
}
.download-links {
	color: #95c12b;
	width: 250px;
	padding-top: 10px;
	text-align: center;
	margin: 0 auto;
	transition: color 0.3s;
}
.download-links:hover {
	color: #f44336;
}
.download-links:active {
	color: #111;
}


/* BUTTONs */
.btn {
	cursor: pointer;
	font-weight: 400;
	padding: 10px 20px;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
}
.btn:hover {
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}
.btn-positive {
	background-color: #8bc34a;
	color: #fff;
}
.btn-positive:hover {
	background-color: #558b2f;
	color: #eee;
}
.btn-more {
	background-color: #7986cb;
	color: #fff;
}
.btn-more:hover {
	background-color: #3649ab;
	color: #eee;
}
.btn:active {
	background-color: #dbdbdb;
	color: #616161;
}
.btn-disable, .btn-disable:active {
	background-color: #dbdbdb;
	color: #eeeeee;
	cursor: not-allowed;
}


/* FOTNELLO-ICONS */
.icon-green:before {color: #8bc34a;}
.icon-blue:before {color: #7986cb;}
.icon-red:before {color: #c62828;}


/*** NAV ***/

nav {
	background-color: rgba(255, 255, 255, 0.5);
	transition: background-color .5s ease;
	-webkit-transition: background-color .5s ease;
}

nav:hover { background-color: rgba(204, 204, 204, 0.4); }

/* Kontener na logo w 'nav' */
.logo-img {
	padding: 10px;
}
/* Kontner głównego menu nawigacji */
.main-nav-links {
	padding: 27px 10px;
}
/* Wypoziomowanie 'ul' i 'li' w nawigacji */
.main-nav-links li {
	display: inline-block;
	margin-left: 5px;
}
/* Funkcja zmiany koloru podkreślenia linku głównego */
.main-nav-links a {
	border-bottom-color: #ccc;
	transition: border-bottom-color 0.5s cubic-bezier(0.25, 0.45, 0, 1);
	-webkit-transition: border-bottom-color 0.5s cubic-bezier(0.25, 0.45, 0, 1);
}
/* Wskazanie linku */
.main-nav-links a:hover {
	border-bottom: 3px solid rgb(141, 198, 63);
	margin-bottom: -3px;
}
/* Kliknięcie linku */
.main-nav-links a:active {
	border-bottom: 3px solid rgb(141, 198, 63);
	margin-bottom: -3px;
}
/* Pogrubienie czcionki linku wybranej strony w 'header' */
li.active a {
	font-weight: 500;
	color: rgb(141, 198, 63);
}

/*** MAIN ***/

.main-slider {
	background-image: url("../img/transportery-automatyka-robot-min.jpg");
	background-position: center;
	background-size: cover;
}

.news-img-cont {
	background-position: center;
	background-size: cover;
}

.news-text-cont {
	line-height: 3vh;
	font-size: 2.7vh;
	overflow: hidden;
}

.news-img-cont, .news-text-cont {
	height: 24vh;
}

.news-date {
	background-color: #eee;
	color: #888;
	text-align: right;
}

.news-title {
	font-weight: 400;
	text-align: center;
}

.news-desc {
	text-align: justify;
}


/*** ABOUT ***/

.about-image {
	background-image: url("../img/zespół-abitech-min.jpeg");
	background-position: center;
	background-size: cover;
}
.about-text-cont {
	border-color: #fff;
}

/*** OFFER ***/

.offer-button, .real-button {
	position: absolute;
	bottom: 0;
	background-color: rgba(85,85,85,0);
	color: rgba(238,238,238,0);
	cursor: pointer;
	font-weight: 400;
	height: calc(30vh - 35px);
	width: 100%;
	transition: color 0.25s ease 0.15s, background-color 0.5s;
}
.offer-button:hover, .real-button:hover {
	background-color: rgba(85,85,85,0.66);
	color: rgba(238,238,238,1);
	transition: color 0.125s ease 0.075s, background-color 0.25s;
}
.offer-button:active, .real-button:active {
	background-color: rgba(141,198,63,0.66);
	color: rgba(85,85,85,1);
}
.offer-cont {
	background-position: center;
	background-size: cover;
	background-color: #f6f6f6;
	height: 30vh;
	position: relative;
}
.offer-text-cont, .real-text-cont {
	border-color: #fff;
}
#offer-detail-cntnr {
	display:none;
}
.offer-title {
	/*background-color: rgba(85,85,85,0.85);
	color: rgb(141, 198, 63);*/
	background-color: rgba(221,221,221,0.85);
	color: rgb(68, 68, 68);
}

/*** REAL ***/
.real-cont {
	background-position: center;
	background-size: cover;
	height: 30vh;
	position: relative;
}
.real-title {
	background-color: rgba(221,221,221,0.85);
	color: rgb(68, 68, 68);
}
.real-tumb {
	background-position: center;
	background-size: cover;
	height: 15vh;
	border-color: #f6f6f6;
}

/*** CONTACT ***/
#map {
	height: 50vh;
}

.contact-dept-header {
	background-color: #dec;
}

.color-light {
	color: #555;
}


/*** JOB ***/

.job-image {
	background-image: url("../img/praca-w-abitech-min.jpg");
	background-position: center;
	background-size: cover;
}
.job-offers-cont {
	background-color: #BAD36F;
}
.job-ref-nr {
	color: #888;
}
.job-detail-header {
	background-color: #666;
	color: #eee;
}
.job-detail-content {
	background-color: #ddd;
}
.job-nojob-info {
	background-color: #ffcc80;
	color: #222;
	font-weight: 400;
}
.checkbox-info {
	float: right;
	width: 90%;
}

/*** FOOTER ***/

footer {
	background-color: #333;
	color: #fff;
}
/* Kontener do logo OMWD */
.footer-author-logo {
	text-align: center;
	padding: 4px 0; /*ważne - do ukrycia białego paska od <a> poniżej footer*/
	overflow-y: hidden;
}






/* Ustwienie 'float'; wartość clear jest w klasie 'row' */
.left { float: left;}
.right { float: right;}

/* Link w 'header' do strony backstage */
#header_backstage_link, #header_backstage_link * {
	color: rgb(141, 198, 63);
}



input[form="loginForm"] {
	text-align: center;
	height: 3rem;
	outline: none;
	border: thin solid rgb(141, 198, 63);
	background: rgba(141, 198, 63, 0.15);
	width: 180px;
}

input[form="loginForm"]:focus {
	outline: rgb(141, 198, 63) solid 1px;
	background: rgba(141, 198, 63, 0);
	transition: background 0.15s linear;
	transition: outline 0.15s linear;
}

input[name="logSubmit"] {
	font-weight: 400;
	background: rgba(141, 198, 63, 0.4);
	cursor: pointer;
}

input[name="logSubmit"]:hover {
	color: rgb(141, 198, 63);
	transition: color 0.05s linear;
}

input[name="logSubmit"]:focus {
	background: rgba(141, 198, 63, 0.6);
	color: rgba(141, 198, 63, 0.6);
	transition: background 0.1s linear;
	transition: color 0.1s linear;
	transition: outline 0.1s linear;
}

tr {
	border-bottom: 1px solid #999;
}

tr:last-child {
	border-bottom: none;
}

th {
	background-color: rgba(141, 198, 63, 0.25);
	font-weight: 400;
}

td, th {
	text-align: center;
	padding: 0.5rem 1.5rem;
	/*border-right: 1px solid #ddd;*/
}

div#nav-calend {
	max-width: 1200px;
	margin: 0 auto;
}



/* Kolor podkreślenia :hover linku do 'backstage' w 'header' */
a[id="header_backstage_link"]:hover {
	border-bottom-color: rgba(141, 198, 63, 0.95);
}

div#nav-calend ul {
	text-align: center;
}

div#nav-calend li {
	display: inline-block;
	width: 80px;
	text-align: center;
}
/*
[class^="icon-check"]:hover {
	color: #666;
	cursor: pointer;
}
*/
[class^="icon-trash-"]:hover {
	color: #f30;
	cursor: pointer;
}

.icon-pencil:hover {
	color: #39f;
	cursor: pointer;
}

/* !!! TEMP !!! */
td > img {
	display: block;
	margin: 0.2rem 0;
}


/* Pogrubienie czcionki linku wybranej strony w 'header' */
li.active a{
	font-weight: 500;
}

/* Kolor 'background' strony edycji */
.backstageDiv {
	background: rgba(238, 238, 238, 0.75);
}

/* Czyści właściowaści opływania 'float' */
.clear {
	clear: both;
}

/* Umożliwia zachowanie wysokości kontenera zawierającego elementy z właściwością 'float' */
.clearfix {
	overflow: auto;
}

.loginError {
	padding: 1.5rem;
}

.loginError > p {
	min-width: 30rem;
	text-align: center;
	line-height: 3.5rem;
	background-color: #fff9c4;
	border-top: 1px solid #ffb74d;
	border-bottom: 1px solid #ffb74d;
	/*border-radius: 1.5rem;*/
	font-weight: 400;
	color: #e91e63;
}

.loginError > p:before, .loginError > p:after{
	content: "  !!  ";
}


.flex-cont-cntr {
	display: flex;
	justify-content: center;
}

.logoImg {
	margin: 1rem;
}

.loginDivs {
	margin: 1.5rem 3rem;
}

.pageContainer {
	margin-top: 8.4rem;
}

.editPage {
	background: url('../img/abitech_editPage2.png') fixed;
}

/*** IDs ***/

#mainTable {
	border: 0.1rem solid #000;
	margin: 1.5rem auto;
}

#table {
	margin: 0 auto;
}
